/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #2563eb;
  --color-primary-dark: #1e40af;
  --color-bg: #e2e1eb ;
  --color-card: #97cd97;
  --color-text: #0f172a;

  --border-radius: 8px;
  --shadow-sm: 0 1px 3px rgba(0,0,0,0.1);
}

body {
  margin: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin-top: 80px;
  padding: 30px;
}
.card {
  background: var(--color-card);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  box-shadow: var(--shadow-sm);
}
footer, header{
    background: #68bb6e;
    text-decoration: none;
}

