<div class="user-info">
  <h2>Información del Usuario</h2>
  
    <div class="user-details">
      <p><strong>Email:</strong> {{ user().email }}</p>
      <p><strong>Nombre:</strong> {{ user().name }}</p>
      <p><strong>Apellido:</strong> {{ user().surname }}</p>
    </div>
  
  <div class="favorites-section">
    <h3>Rutas Favoritas</h3>
    @if (favoriteRoutes().length > 0) {
      <ul>
        @for (route of favoriteRoutes(); track route.routeId) {
          <li class="route-item" (click)="toggleRouteSelection(route)">
            <div style="display: flex; justify-content: space-between;">
              <div>
                <div>{{ route.name }}</div>
                <div>Distancia: {{ route.distanceKm }} km</div>
                <div>Origen: {{ route.points[0]?.address || 'N/A' }}, Destino: {{ route.points[1]?.address || 'N/A' }}</div>
                @if (route.canShare) {
                  <button (click)="shareRoute(route)">Compartir</button>
                }
              </div>
              @if (selectedRoute() === route.routeId) {
                <div style="display: flex; flex-direction: column;">
                  <button (click)="deleteRoute(route)">Eliminar</button>
                  <button (click)="renameRoute(route)">Renombrar</button>
                </div>
              }
            </div>
          </li>
        }
      </ul>
    } @else {
      <p>No hay rutas favoritas.</p>
    }
    <button (click)="goToLanding()">Crear</button>
  </div>
  
  <div class="favorites-section">
    <h3>Gasolineras Favoritas</h3>
    @if (favoriteGasStations().length > 0) {
      <ul>
        @for (station of favoriteGasStations(); track station.idEstacion) {
          <li (click)="selectStation(station)" class="clickable">
            {{ station.alias || 'Sin alias' }} - {{ station.nombreEstacion }} - {{ station.direccion }}
          </li>
        }
      </ul>
    } @else {
      <p>No hay gasolineras favoritas.</p>
    }
    <button (click)="goToPreferences()">Crear / Modificar</button>
  </div>
</div>