<div class="privacy-container">
  <h1>{{ translation.translate('privacy.title') }}</h1>
  <p>{{ translation.translate('privacy.intro') }}</p>
  
  <h2>{{ translation.translate('privacy.dataCollection') }}</h2>
  <p>{{ translation.translate('privacy.dataText') }}</p>
  <ul>
    <li>{{ translation.translate('privacy.localStorage') }}</li>
    <li>{{ translation.translate('privacy.cookies') }}</li>
  </ul>
  
  <h2>{{ translation.translate('privacy.usage') }}</h2>
  <p>{{ translation.translate('privacy.usageText') }}</p>
</div>