<div class="container">
  <section class="card">
    <h2>{{ translation.translate('search.title') }}</h2>
    <div class="tabs_wrap">
      <ul>
        <li [ngClass]="{ active: activeTab === 'destination' }" (click)="setTab('destination')">
          {{ translation.translate('search.tabs.destination') }}
        </li>

        <li [ngClass]="{ active: activeTab === 'gas' }" (click)="setTab('gas')">
          {{ translation.translate('search.tabs.gas') }}
        </li>

        <li [ngClass]="{ active: activeTab === 'route' }" (click)="setTab('route')">
          {{ translation.translate('search.tabs.route') }}
        </li>
      </ul>
    </div>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      @if(activeTab === "destination" || activeTab === "gas"){
      <p>
        <label for="origin">{{ translation.translate('search.origin') }}</label>
        <input class="form-control" type="text" id="origin" name="origin" [(ngModel)]="routeFormResponse.origin"
          [placeholder]="translation.translate('search.originPlaceholder')" required #originField="ngModel" />

        @if(originField && originField.touched){
      <div class="error">
        @if(originField.errors?.['required']){
        {{ translation.translate('search.originRequired') }}
        }
      </div>
      }
      }

      @if(activeTab === "destination"){
      <p>
        <label for="destination">{{ translation.translate('search.destination') }}</label>
        <input class="form-control" type="text" id="destination" name="destination"
          [(ngModel)]="routeFormResponse.destination"
          [placeholder]="translation.translate('search.destinationPlaceholder')" required #destinationField="ngModel" />

        @if(destinationField && destinationField.touched){
      <div class="error">
        @if(destinationField.errors?.['required']){
        {{ translation.translate('search.destinationRequired') }}
        }
      </div>
      }
      }

      <p>{{ translation.translate('search.waypoints') }}</p>

      <button (click)="addWaypoint()" type="button" class="button">
        <span class="button__text">{{ translation.translate('search.add') }}</span>
        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"
            stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24"
            fill="none" class="svg">
            <line y2="19" y1="5" x2="12" x1="12"></line>
            <line y2="12" y1="12" x2="19" x1="5"></line>
          </svg></span>
      </button>

      <div *ngFor="let waypoint of routeFormResponse.waypoints; let i = index; trackBy: trackByIndex">

        <select [(ngModel)]="waypointTypes[i]" [name]="'type' + i">
          <option value="text">{{ translation.translate('search.address') }}</option>
          <option value="gas">{{ translation.translate('search.favoriteGas') }}</option>
        </select>
        @if(waypointTypes[i]==="text"){
        <input class="form-control" type="text" [name]="'waypoint' + i" [(ngModel)]="routeFormResponse.waypoints[i]"
          [placeholder]="translation.translate('search.addressPlaceholder')" />
        }
        @if(waypointTypes[i]==="gas"){
        <select [name]="'waypoint' + i" [(ngModel)]="routeFormResponse.waypoints[i]">
          <option *ngFor="let gasStation of favouriteGasStations()" [value]="gasStation.direccion">
            {{ gasStation.alias }} — {{ gasStation.marca }}
          </option>
        </select>
        }

      </div>

      <button (click)="deleteWaypoint()" type="button" class="button-delete">
        <span class="button__text">{{ translation.translate('search.delete') }}</span>
        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"
            stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24"
            fill="none" class="svg">
            <line y2="19" y1="5" x2="12" x1="12"></line>
            <line y2="12" y1="12" x2="19" x1="5"></line>
          </svg></span>
      </button>

      <div class="checkbox-wrapper-46">
        <input [(ngModel)]="routeFormResponse.optimizeWaypoints" type="checkbox" id="optimizeWaypoints" class="inp-cbx"
          name="optimizeWaypoints" />
        <label for="optimizeWaypoints" class="cbx"><span>
            <svg viewBox="0 0 12 10" height="10px" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg></span><span>{{ translation.translate('search.optimizeWaypoints') }}</span>
        </label>
      </div>

      <div class="checkbox-wrapper-46">
        <input [(ngModel)]="routeFormResponse.optimizeRoute" type="checkbox" id="optimizeRoute" class="inp-cbx"
          name="optimizeRoute" />
        <label for="optimizeRoute" class="cbx"><span>
            <svg viewBox="0 0 12 10" height="10px" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg></span><span>{{ translation.translate('search.optimizeRoute') }}</span>
        </label>
      </div>

      <div class="checkbox-wrapper-46">
        <input [(ngModel)]="routeFormResponse.avoidTolls" type="checkbox" id="avoidTolls" class="inp-cbx"
          name="avoidTolls" />
        <label for="avoidTolls" class="cbx"><span>
            <svg viewBox="0 0 12 10" height="10px" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg></span><span>{{ translation.translate('search.avoidTolls') }}</span>
        </label>
      </div>

      <p>
        <label for="vehiculeEmissionType">{{ translation.translate('search.fuelType') }}</label>
        <select [(ngModel)]="routeFormResponse.vehiculeEmissionType" name="vehiculeEmissionType"
          id="vehiculeEmissionType">
          @for (item of vehiculeEmissionTypeOptions | keyvalue; track item.key){
          <option [value]="item.key">{{ translation.translate('fuelTypes.' + item.key) }}</option>
          }
        </select>
      </p>

      @if(activeTab === "gas"){
      <p>
        <select name="gasStation" id="gasStation" [(ngModel)]="routeFormResponse.destination" required>
          <option value="">{{ translation.translate('search.chooseGas') }}</option>
          <option *ngFor="let gasStation of favouriteGasStations()" [value]="gasStation.direccion">
            {{ gasStation.alias }} — {{ gasStation.marca }}
          </option>
        </select>
      </p>
      }
      @if(activeTab === "route"){
      <p>
        <select name="savedRoute" id="savedRoute" [(ngModel)]="selectedRouteOption" required="">
          <option [ngValue]=""> {{ translation.translate('search.chooseRoute') }}</option>
          <option (click)="savedRouteSelected()" *ngFor="let route of savedRoute()"
            [ngValue]="{ origin: route.points[0].address, destination: route.points[1].address}">
            {{ route.name }}:
            {{route.points[0].address}}
            —
            {{route.points[1].address}}
          </option>
        </select>
      </p>
      }

      <button type="submit" [disabled]="!form.valid">{{ translation.translate('search.submit') }}</button>

      @if (form.valid && activeTab==="destination"){
      <label for="routeAlias">{{ translation.translate('search.saveRoute') }}</label>
      <input type="text" id="routeAlias" name="routeAlias" [(ngModel)]="routeAlias"
        [placeholder]="translation.translate('search.routeAliasPlaceholder')" />

      <button type="button" (click)="saveRoute()">{{ translation.translate('search.saveRoute') }}</button>
      }

      <div *ngIf="successfulMessage" class="success">
        {{ successfulMessage }}
      </div>

      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>
    </form>
    <app-map-page></app-map-page>
  </section>
</div>