<div class="container">
  <section class="card" #card>
    <h2>{{ translation.translate('search.title') }}</h2>
    <app-search-bar-tabs [activeTab]="activeTab" (tabChange)="setTab($event)"></app-search-bar-tabs>
    <div class="filters-map">
      <app-search-bar-filters [isLoggedIn]="isLoggedIn()" [filterByCheapest]="filterByCheapest()"
        [filterByBrands]="filterByBrands()" [filterByMaxPrice]="filterByMaxPrice()" [routeAlias]="routeAlias"
        [createdRoute]="createdRoute()" [successfulMessage]="successfulMessage" [errorMessage]="errorMessage"
        [showShareMessage]="showShareMessage()" (toggleFilterByCheapest)="toggleFilterByCheapest()"
        (toggleFilterByBrands)="toggleFilterByBrands()" (toggleFilterByMaxPrice)="toggleFilterByMaxPrice()"
        (routeAliasChange)="routeAlias = $event" (saveRoute)="saveRoute()" (shareRoute)="shareRoute()">
      </app-search-bar-filters>
    </div>
    <div class="form-map" [ngClass]="{ 'collapsed': isFormCollapsed }">
      <div class="form-wrapper">
        <app-search-bar-form [activeTab]="activeTab" [isFormCollapsed]="isFormCollapsed"
          [routeFormResponse]="routeFormResponse" [waypointTypes]="waypointTypes"
          [favouriteGasStations]="favouriteGasStations()" [savedRoute]="savedRoute()"
          [selectedSavedRoute]="selectedSavedRoute" [isLoggedIn]="isLoggedIn()"
          [successfulMessage]="successfulMessage" [errorMessage]="errorMessage"
          (selectedSavedRouteChange)="selectedSavedRoute = $event" (toggleFormCollapse)="toggleFormCollapse()"
          (addWaypoint)="addWaypoint()" (deleteWaypoint)="deleteWaypoint()" (submit)="onSubmit()"
          (originFocus)="scrollToCard()">
        </app-search-bar-form>
      </div>
      <div class="map-wrapper">
        <app-map-page></app-map-page>
      </div>
    </div>
    <app-login-prompt [show]="showLoginPrompt()" (close)="showLoginPrompt.set(false)"></app-login-prompt>
  </section>
</div>