<div class="generic-preferences">

  <div class="form-group">
    <label for="mapType">{{ translation.translate('preferences.mapType') }}</label>
    <select (change)="setMapType($event)">
      @for (option of mapTypeOptions(); track option) {
      <option [value]="option" [selected]="option === userPreferences().mapView">
        {{ translation.translate('mapTypeOptions.' + option) }}
      </option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="theme">{{ translation.translate('preferences.theme') }}</label>
    <select id="theme" (change)="setTheme($event)">
      @for (option of themeOptions(); track option) {
      <option [value]="option" [selected]="option === themeLanguage().theme">
        {{ translation.translate('themeOptions.' + option) }}
      </option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="language">{{ translation.translate('preferences.language') }}</label>
    <select id="language" (change)="setLanguage($event)">
      @for (option of languageOptions(); track option) {
      <option [value]="option" [selected]="option === themeLanguage().language">
        {{ translation.translate('languages.' + option) }}
      </option>
      }
    </select>
  </div>

</div>