header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1000;

}

header a {
  text-decoration: none;
  font-size: 18px;
  color: var(--color-title);
}

header a:hover {
  text-decoration: none;
}

.logo {
  font-weight: bold;
  position: relative;
  transition: 0.3s ease;
}

.logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background: #ffffff;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.logo:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.logo a:hover::after {
  width: 100%;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--color-title);
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s ease;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4px);
}