<div class="user-preferences">
  <h2>{{ translation.translate('preferences.title') }}</h2>

  <div class="collapsible">
    <h3 (click)="toggleSection('generic')">
      {{ translation.translate('preferences.generic') }}
    </h3>
    @if (isSectionActive('generic')) {
      <app-generic-preferences></app-generic-preferences>
    }
  </div>

  <div class="collapsible">
    <h3 (click)="toggleSection('vehicle')">
      {{ translation.translate('preferences.vehicle') }}
    </h3>
    @if (isSectionActive('vehicle')) {
      <app-vehicle-preferences></app-vehicle-preferences>
    }
  </div>

  <div class="collapsible">
    <h3 (click)="toggleSection('gasStations')">
      {{ translation.translate('preferences.gasStations') }}
    </h3>
    @if (isSectionActive('gasStations')) {
      <app-gas-stations-preferences></app-gas-stations-preferences>
    }
  </div>

  <div class="buttons">
    <button type="button" (click)="savePreferences()">{{ translation.translate('preferences.save') }}</button>
    <button type="button" (click)="resetPreferences()">{{ translation.translate('preferences.reset') }}</button>
  </div>
</div>