header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    
}

header a {
    text-decoration: none;
    font-size: 18px;
}

header a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}