header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #322d27;
}

header a:hover {
    text-decoration: none;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}