.error{
    color: red;
    font-weight: bold;
}
.asterisk {
    color: red;
    font-weight: bold;
    margin-right: 5px;
}
.success{
    color: green;
    font-weight: bold;
}

.card {
  background: var(--color-card);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  box-shadow: var(--shadow-sm);
}