.error {
    color: var(--color-error);
    font-weight: bold;
}

.asterisk {
    color: var(--color-error);
    font-weight: bold;
    margin-right: 5px;
}

.success {
    color: var(--color-success);
    font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    margin-bottom: 40px;
    background: var(--color-card);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    max-width: 400px;
    width: 100%;
}
.form-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-header h2 {
    font-weight: bold;
}

.form-header p {
    font-size: 0.9rem;
    color: var(--color-p);
}

.form-control:focus {
    box-shadow: 0 0 10px rgba(38, 143, 255, 0.5);
    border-color: #268fff;
}
.btn-custom {
    width: 100%;
}
.btn-custom:enabled {
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    border: none;
    border-radius: 8px;
    transition: background 0.3s ease;
    padding: 5px;
    color: var(--color-title);
    font-weight: bold;
}
.btn-custom:disabled{
    border-radius: 8px;
}
.btn-custom:hover:enabled {
    background: linear-gradient(90deg, var(--color-secondary-light), #7e3dff);
    color:var(--color-title-dark);
    font-weight: bold;
}

.text-muted {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
}