:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

#map, .map-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
