/* ESTRUCTURA EXTERNA */
:host {
  display: block;
  width: 100%;
}

:host ::ng-deep gmp-place-autocomplete {
  background-color: transparent !important;
  width: 100% !important;
  border-radius: 8px !important;
  display: block;
}

