<div class="container">
    <div class="card">
        <div class="form-header">
            <h2>Inicio de Sesión</h2>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!--USER FIELD-->
            <div>
                <span class="asterisk">*</span>
                <label for="user">Introduzca el nombre de usuario.</label>
                <input class="form-control" type="user" name="user" id="user" formControlName="user">


                <!--Error messages-->
                <div *ngIf="hasError('user', 'required')">
                    <p class="error">El nombre de usuario es obligatorio</p>
                </div>
                <div *ngIf="hasError('email', 'pattern')">
                    <p class="error">El formato es incorrecto.</p>
                </div>
            </div>

            <!--PASSWORD FIELD-->
            <div>
                <span class="asterisk">*</span>
                <label for="password">Introduzca la contraseña.</label>
                <input class="form-control" type="password" name="password" id="password" formControlName="password">


                <!--Error messages-->
                <div *ngIf="hasError('password', 'required')">
                    <p class="error">La contraseña es obligatoria.</p>
                </div>

                <div *ngIf="hasError('password', 'minLength')">
                    <p class="error">La contraseña debe tener mínimo 8 caracteres.</p>
                </div>
                <div *ngIf="hasError('password', 'pattern')">
                    <p class="error">La contraseña debe tener al menos 8 carácteres, un número, una mayuscula, una
                        minúscula y un
                        símbolo.</p>
                </div>
            </div>

            <input class="btn-custom" type="submit" [disabled]="form.invalid" />

            <div class="text-muted">
                <p>¿Todavía no te has registrado? <a routerLink="/register-user">Crea una cuenta</a></p>
            </div>
        </form>
    </div>
</div>